[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
PyJWT = "*"
bitstruct = "*"
connexion = "*"
cryptography = "*"
gunicorn = "*"
jsonschema = "*"
python-json-logger = "*"
requests = "*"
swagger-ui-bundle = "*"
wsgicors = "*"
statsd = "*"
importlib-resources = "*"
typing-extensions = "*"
grpcio = "*"
accesspdp = {subdirectory = "clients/python/accesspdp", editable = true, ref = "v1.1.1", git = "https://github.com/virtru/access-pdp"}
attributes = {subdirectory = "clients/python/attributes", editable = true, ref = "v1.1.1", git = "https://github.com/virtru/access-pdp"}

[dev-packages]
Werkzeug = "*"
build = "*"
coverage = "*"
pytest = "*"
pytest-watch = "*"
setuptools = "*"
twine = "*"
wheel = "*"
