-i https://pypi.org/simple
-e git+https://github.com/virtru/access-pdp@1f7f62667c9ba0451a67b3618a894beedb74ad54#egg=accesspdp&subdirectory=clients/python/accesspdp
-e git+https://github.com/virtru/access-pdp@1f7f62667c9ba0451a67b3618a894beedb74ad54#egg=attributes&subdirectory=clients/python/attributes
attrs
bitstruct
certifi
cffi
charset-normalizer
click
clickclick
connexion
cryptography
flask
grpcio
gunicorn
idna
importlib-metadata
importlib-resources
inflection
itsdangerous
jinja2
jsonschema
markupsafe
packaging
protobuf
pycparser
pyjwt
pyparsing
pyrsistent
pytest
python-json-logger
pyyaml
requests
setuptools
six
statsd
typing-extensions
urllib3
werkzeug
