[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
gunicorn = "*"
python-json-logger = "*"
requests = "*"
statsd = "*"
tdf3-kas-core = {editable = true, path = "./../kas_core"}
wsgicors = "*"
importlib_metadata = "*"
accesspdp = {subdirectory = "clients/python/accesspdp", editable = true, ref = "v1.1.1", git = "https://github.com/virtru/access-pdp"}
attributes = {subdirectory = "clients/python/attributes", editable = true, ref = "v1.1.1", git = "https://github.com/virtru/access-pdp"}
grpcio = "*"

[dev-packages]
Flake8 = "*"
autopep8 = "*"
coverage = "*"
flake8_docstrings = "*"
mypy = "*"
pytest = "*"
pytest-watch = "*"

[requires]
python_version = "3"
