-i https://pypi.org/simple
-e git+https://github.com/virtru/access-pdp#egg=accesspdp&subdirectory=clients/python/accesspdp
-e git+https://github.com/virtru/access-pdp#egg=attributes&subdirectory=clients/python/attributes
attrs==21.4.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
bitstruct==8.14.1
certifi==2022.5.18.1; python_version >= '3.6'
cffi==1.15.0
charset-normalizer==2.0.12; python_version >= '3'
click==8.1.3; python_version >= '3.7'
clickclick==20.10.2
connexion==2.13.1; python_version >= '3.6'
flask==2.1.2
grpcio==1.47.0
gunicorn==20.1.0
idna==3.3; python_version >= '3'
importlib-metadata==4.11.4
importlib-resources==5.7.1; python_version >= '3.7'
inflection==0.5.1; python_version >= '3.5'
itsdangerous==2.1.2; python_version >= '3.7'
jinja2==3.1.2; python_version >= '3.7'
jsonschema==4.5.1; python_version >= '3.7'
markupsafe==2.1.1; python_version >= '3.7'
packaging==21.3; python_version >= '3.6'
protobuf==4.21.4; python_version >= '3.7'
pycparser==2.21; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyjwt==2.4.0; python_version >= '3.6'
pyparsing==3.0.9; python_full_version >= '3.6.8'
pyrsistent==0.18.1; python_version >= '3.7'
python-json-logger==2.0.2
pyyaml==6.0; python_version >= '3.6'
setuptools==62.3.2; python_version >= '3.7'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
statsd==3.3.0
-e ./../kas_core
urllib3==1.26.9; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
werkzeug==2.1.2; python_version >= '3.7'
wsgicors==0.7.0
zipp==3.8.0; python_version >= '3.7'
