-i https://pypi.org/simple
-e git+https://github.com/virtru/access-pdp@93833f21c4eaaefa4e4db17c979d17fe140a9cca#egg=accesspdp-client&subdirectory=clients/python
attrs==21.4.0
bitstruct==8.15.1
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==8.1.3
clickclick==20.10.2
connexion==2.14.0
cryptography==37.0.4
flask==2.1.3
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.9.0
inflection==0.5.1
itsdangerous==2.1.2
jinja2==3.1.2
jsonschema==4.7.2
markupsafe==2.1.1
packaging==21.3
pycparser==2.21
pyjwt==2.4.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-json-logger==2.0.4
pyyaml==6.0
requests==2.28.1
setuptools==63.2.0
statsd==3.3.0
swagger-ui-bundle==0.0.9
-e ./../kas_core
urllib3==1.26.11
werkzeug==2.2.1
wsgicors==0.7.0
zipp==3.8.1
