apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kas.name" . }}-cm
  labels:
    app.kubernetes.io/name: {{ include "kas.name" . }}-cm
    helm.sh/chart: {{ include "kas.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/part-of: kas
data:
  ATTR_AUTHORITY_HOST: {{ .Values.endpoints.attrHost | quote  }}
  FLASK_DEBUG: {{ .Values.flaskDebug | quote }}
  GUNICORN_WORKERS: {{ .Values.gunicornWorkers | default 1 | quote }}
  KEYCLOAK_HOST: {{ .Values.endpoints.oidcPubkeyEndpoint | quote }}
  LOGLEVEL: {{ .Values.logLevel | quote }}
  STATSD_HOST: {{ .Values.endpoints.statsdHost | quote }}
  USE_KEYCLOAK: "1"
